<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Madness Crunch
                {% if page_title is defined %}
                    {{ " | #{page_title}"  }}
                {% endif %}
            {% endblock %}
        </title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#333333">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-mid-dark">
    <div class="topnav">
        <div class="btn-return" data-tag="/nav/return"></div>
        <div class="links">
            <a href="{{ url('app_index') }}" id="myBtn" class="" style="display: none"><img src="{{ asset('build/images/btn-return.svg') }}" height="20px" alt="return icon"></a>
            <a href="{{ url('app_index') }}#about" class="brand">Madness Crunch</a>
            <div class="d-none d-md-inline-block">
                <a href="{{ url('app_index') }}#concerts" >Konzerte</a>
                <a  href="{{ url('app_music') }}" class="d-none d-md-inline-block">Musik</a>
                <a  href="{{ url('app_pictures') }}" class="d-none d-md-inline-block">Fotos</a>
            </div>
        </div>
        <div class="concerts d-none d-md-block">
            <a href="{{ url('app_index') }}#media" class="btn-book">Buchen</a>
        </div>
        <div class="sidebar-menu-button-wrapper d-block d-md-none">
            <a href="#offcanvas" class="btn-book" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvas">MN</a>
        </div>
    </div>

    <div class="offcanvas offcanvas-start bg-black" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">Navigation</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row row-cols-1 gap-1 links">
                <a href="{{ url('app_index') }}" class="text-uppercase">Madness Crunch</a>
                <a href="{{ url('app_index') }}#concerts" class="text-uppercase">Konzerte</a>
                <a  href="{{ url('app_music') }}" class="text-uppercase">Musik</a>
                <a  href="{{ url('app_pictures') }}" class="text-uppercase">Fotos</a>
            </div>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <section id="message">
            <div class="alert alert-info border-0 rounded-0">
                {{ message }}
            </div>
        </section>
    {% endfor %}

        {% block body %}{% endblock %}
    <section id="intro" class="description content">
        <div class="bg-raster"></div>
        <div class="container text-center">
            <div class="row row-cols-1">
                <div class="col">
                    <h2><img src="{{ asset('build/images/mc-logo.svg') }}" alt="Madness Crunch Logo" style="max-height: 30px; min-width: 150px"></h2>
                    <div class="d-flex justify-content-center">
                        <a href="{{ url('app_imprint') }}" class="btn-link link-light px-2">Impressum</a>
                        <a href="{{ url('app_privacy') }}" class="btn-link link-light px-2">Datenschutz</a>
                        <a href="{{ url('app_privacy') }}" class="btn-link link-light px-2">für Veranstalter</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
